<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/demo.css}" />

    <title>Donut Palace</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/mainscreen">
                    <img th:src="@{/images/logo.jpg}" alt="Logo" width="55" height="55">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/mainscreen">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>The Donut Palace</h1>
        <hr>
        <h2>A La Carte Items</h2>
        <form th:action="@{/mainscreen}">
            Filter: <input type="text" name="partkeyword" id="partkeyword" size="50" th:value="${partkeyword}"
                required />
            &nbsp;
            <input type="submit" value="Search" />
            &nbsp;
            <input type="button" value="Clear" id="btnClearPart" onclick="clearSearch()" />
        </form>
        <br><br>
        <a th:href="@{/showFormAddInPart}" class="btn btn-primary btn-sm mb-3">Add Inhouse Item</a>
        <a th:href="@{/showFormAddOutPart}" class="btn btn-primary btn-sm mb-3">Add Outsourced Item</a>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Inventory</th>
                    <th>Minimum Inventory</th>
                    <th>Maximum Inventory</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tempPart : ${parts}">
                    <td th:text="${tempPart.name}">1</td>
                    <td th:text="${tempPart.price}">1</td>
                    <td th:text="${tempPart.inv}">1</td>
                    <td th:text="${tempPart.minInv}">1</td>
                    <td th:text="${tempPart.maxInv}">1</td>
                    <td><a th:href="@{/showPartFormForUpdate(partID=${tempPart.id})}"
                            class="btn btn-primary btn-sm mb-3">Update</a>
                        <a th:href="@{/deletepart(partID=${tempPart.id})}" class="btn btn-primary btn-sm mb-3"
                            onclick="if(!(confirm('Are you sure you want to delete this part?')))return false">Delete</a>
                        <a th:href="@{/buyPart(partID=${tempPart.id})}" class="btn btn-primary btn-sm mb-3">Buy Now</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Meals</h2>
        <form th:action="@{/mainscreen}">
            Filter: <input type="text" name="productkeyword" id="productkeyword" size="50" th:value="${productkeyword}"
                required />
            &nbsp;
            <input type="submit" value="Search" />
            &nbsp;
            <input type="button" value="Clear" id="btnClearProduct" onclick="clearSearch()" />
        </form>
        <script type="text/javascript">
            function clearSearch() {
                window.location = "[[@{/}]]";
            }
        </script>
        <br><br>
        <a th:href="@{/showFormAddProduct}" class="btn btn-primary btn-sm mb-3">Add Meals</a>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Inventory</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tempProduct : ${products}">
                    <td th:text="${tempProduct.name}">1</td>
                    <td th:text="${tempProduct.price}">1</td>
                    <td th:text="${tempProduct.inv}">1</td>
                    <td><a th:href="@{/showProductFormForUpdate(productID=${tempProduct.id})}"
                            class="btn btn-primary btn-sm mb-3">Update</a>
                        <a th:href="@{/deleteproduct(productID=${tempProduct.id})}" class="btn btn-primary btn-sm mb-3"
                            onclick="if(!(confirm('Are you sure you want to delete this product?')))return false">Delete</a>
                        <a th:href="@{/buyProduct(productID=${tempProduct.id})}" class="btn btn-primary btn-sm mb-3">Buy
                            Now</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>